@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden;
}

.container {
  margin-left: 20px;
  margin-top: 20px;
}

.modal {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 300px;
  margin-top: -300px;
}

#project {
  font-weight: 500;
  font-size: 25px;
  margin-left: 10px;
}

hr {
  width: 500px;
  margin-left: -1px;
  margin-top: 30px;
  border: 1px solid #dbf2fd;
}

.gap {
  line-height: 40px;
}

.clothes {
  display: flex;
  gap: 10px;
  margin-left: 170px;
  margin-top: -70px;
}

.first-border,
.second-border,
.third-border {
  width: 100px;
  height: 70px;
  border-radius: 10%;
  background-color: rgb(249, 245, 252);
  border: 2px solid #dbf2fd;
  cursor: pointer;
}

#forModal {
  width: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.select-all {
  margin-left: 400px;
  margin-top: -60px;
}

.background-image {
  position: absolute;
  top: 0;
  right: -800px;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/back.jpg");
  background-size: 200px;
}

.colors {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-left: 15px;
}

.white {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: whitesmoke;
  cursor: pointer;
}

.red {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.blue {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
}

.aquamarine {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aqua;
  cursor: pointer;
}

.cursed {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: crimson;
  cursor: pointer;
}

.yellow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
}

.black {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.purple {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: purple;
  cursor: pointer;
}

.pink {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
}

.hollow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hotpink;
  cursor: pointer;
}

.orange {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer;
}

.gray {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.radios {
  display: flex;
  gap: 15px;
}

input {
  outline: none;
  border: 1px solid rgb(202, 202, 202);
}

#inp1 {
  width: 250px;
  height: 50px;
}

#inp2 {
  width: 100px;
  height: 50px;
  font-size: large;
}

#inp3 {
  width: 150px;
  height: 50px;
  margin-top: 15px;
}

.second-inputs {
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  width: 150px;
  height: 50px;
  background-color: rgb(249, 245, 252);
  border: 1px solid #dbf2fd;
  border-radius: 15px;
  cursor: pointer;
}

#orgT {
  width: 500px;
  margin-left: 350px;
  margin-top: 180px;
  pointer-events: none;
}

#title {
  position: absolute;
  top: 40%;
  right: 24%;
  color: #fff;
  font-weight: 400;
  z-index: 9999999;
}

.image-modal {
  position: absolute;
  bottom: -23%;
  left: 30%;
  width: 800px;
  height: 400px;
  background-color: #fafafa;
  border: 2px solid #dbf2fd;
  border-radius: 10px;
}

#exit-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #000;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first-column {
  position: absolute;
  top: 50px;
}

.second-column {
  margin-top: 250px;
}

#icon-column {
  width: 100px;
  margin-left: 100px;
}

#selected {
  color: #000;
  position: absolute;
  top: 75%;
  right: 26%;
  z-index: 999999;
  cursor: pointer;
  font-size: 1px;
  font-weight: 400;
}
